<h3>Recherche une publicite</h3>
<form method="post">
    <label>Nompublicite:</label>
    <input type="text" name="Nompublicite"><br>
    <br>
    <input type="submit" value="Rechercher">

</form>
{% for pub in pubs %}
    <fieldset style="width: 30%">
        <legend>Publicite n°{{ pub.idpublicite }}</legend>
        <b>Nompublicite :</b> {{ pub.nompublicite }} <br>
        <b>Contenupublicte:</b> {{ pub.contenupublicte }} <br>
        <b>Lien:</b> {{ pub.lien }} <br>
    </fieldset>
{% endfor %}